extends layout

block content
  div.container(ng-controller='TodoCtrl')
    div.content
      div.span3.offset3
        li(ng-repeat='todo in todos')
          input(type='checkbox', ng-model='todo.done')
          span(class='done-{{todo.done}}')
            {{todo.description}}