body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.content
  background-color: #fff

ul.sortable
  list-style-type: none
  margin: 20px

.ui-state-default
  padding: 10px

.todo-item
  background-color: #eef
  padding: 5px
  margin: 5px 0
  border: 1px solid lightgrey

.todo-item.done
  color: green;
  background-color: #efe

.todo-item.overdue
  color: red;
  background-color: #fee